<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hover-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashlite.css') }}">
    <link id="skin-default" rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">

    {{ fontawesome_html() }}

</head>

<body>
    <div class="nk-wrap ">
      
      <div>
        <!-- main header @s -->
        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#808080;">
            <a class="navbar-brand hvr-shadow" href="/"><img src="/static/wifile_2.png" style="width:100px; margin-top:-10px;margin-bottom:-20px;"></a>
  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <div class="nk-header-wrap">
                    <div class="nk-menu-trigger d-xl-none ms-n1">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                    </div>
                    <div class="nk-header-brand d-xl-none">
                        <a href="/" class="logo-link">
                            <img class="logo-light logo-img" src="/static/images/logo.png" srcset="/static/images/logo2x.png 2x" alt="logo">
                            <img class="logo-dark logo-img" src="/static/images/logo-dark.png" srcset="/static/images/logo-dark2x.png 2x" alt="logo-dark">
                        </a>
                    </div><!-- .nk-header-brand -->
                    <div class="nk-header-search ms-3 ms-xl-0">
                        <em class="icon ni ni-search"></em>
                        <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search anything">
                    </div><!-- .nk-header-news -->
                </div><!-- .nk-header-wrap -->

            
              <ul class="navbar-nav ml-auto mt-2 mb-2 ">
  
                {% if favList %}
  
                <form id = "uploadForm" class="md-form" action = "/upload/{{currentDir}}" method = "POST"  enctype = "multipart/form-data" style="display:none;">
  
                  <input style="color:white;" class ="btn btn-sm "  type="file" name = "files[]" multiple="true" >
                  <input class="btn btn-sm mr-4" type = "submit" value="Upload"/>
              
                </form>
  
                <button id = "uploadButton" class="btn btn-sm mr-4 ml-4" style="margin-bottom:6px;margin-top:3px;">Upload</button>
            
                {% endif %}
                <button class='btn btn-light mr-1' id = "view0_button" {{view0_button}}><i class="fas fa-th-large"></i></button >
                <button class='btn btn-light mr-3' id = "view1_button" {{view1_button}}><i class="fas fa-list"></i></button>
                
  
                            
                {% for f in favList %}
  
                  {% set list1 = f.split('/') %}
      
                  <li class="nav-item">
                    <a class="nav-link active hvr-shadow mr-2" href="/files/{{f}}">{{list1[list1|length-1]}} <span class="sr-only">(current)</span></a>
                  </li>
  
                {% endfor %}
  
                {% if favList %}
                  <li class="nav-item mr-4">
                  <a data-toggle="tooltip" data-placement="right" title="Support Me" class = "ml-3" href="https://www.buymeacoffee.com/rehanahmed" target ="_blank" ><img
                    alt = "Buy Me a Coffee" src="/static/coffee.png" style="margin-top:7px;width:25px; height:25px;"></a>
                  </li>
                
                  <li class="nav-item">
                    <a data-toggle="tooltip" data-placement="right" title="Logout" class="nav-link active hvr-shadow" href="/logout/"> <span class="fa fa-sign-out-alt"></span> <span class="sr-only">(current)</span></a>
                  </li>            
                {% endif %}
                                    
              </ul>
            </div>
        </nav>
        <!-- main header @e -->
                

        <div class = "container">
          <div class = "row">
            <div class = "col-12 lead mt-4" style="text-align: left; margin-bottom:-10px;">
              {% autoescape false %}
              {{currentDir_path}}
              
              {% endautoescape %}
              <hr>
            </div>
          </div>
        </div>
                
        {% block content %} {% endblock %}

      </div> 

      <!-- footer @s -->
      <div class="nk-footer">
        <div class="container-fluid">
            <div class="nk-footer-wrap">
                <div class="nk-footer-copyright"> &copy; 2022 DashLite. Template by <a href="https://softnio.com" target="_blank">Softnio</a>
                </div>
                <div class="nk-footer-links">
                    <ul class="nav nav-sm">
                        <li class="nav-item dropup">
                            <a href="#" class="dropdown-toggle dropdown-indicator has-indicator nav-link text-base" data-bs-toggle="dropdown" data-offset="0,10"><span>English</span></a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                <ul class="language-list">
                                    <li>
                                        <a href="#" class="language-item">
                                            <span class="language-name">English</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="language-item">
                                            <span class="language-name">Español</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="language-item">
                                            <span class="language-name">Français</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="language-item">
                                            <span class="language-name">Türkçe</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="modal" href="#region" class="nav-link"><em class="icon ni ni-globe"></em><span class="ms-1">Select Region</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
      <!-- footer @e -->
    
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
  $("#uploadButton").click(function(){
    document.getElementById('uploadForm').style.display="block";
    document.getElementById('uploadButton').style.display="none";
  })
</script>


<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

$(function () {

  $('#view0_button').click(function () {
  
    $('#view1_container').css('display', 'none');
    $('#view0_container').css('display', 'block');
    $('#view0_button').prop("disabled",true);
    $('#view1_button').prop("disabled",false);


    const Http = new XMLHttpRequest();
    const url='/changeView?view=0';
    Http.open("GET", url);
    Http.send();

  });

  $('#view1_button').click(function () {

    $('#view0_container').css('display', 'none');
    $('#view1_container').css('display', 'block');
    $('#view1_button').prop("disabled",true);
    $('#view0_button').prop("disabled",false);


    const Http = new XMLHttpRequest();
    const url='/changeView?view=1';
    Http.open("GET", url);
    Http.send();

  });
});


</script>
</body>

</html>